html,
body {
  font-family: 'Courier New', Courier, monospace;
  color: #212529;
}

li {
  width: fit-content;
}

a {
  color: #565656;
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

ul {
  padding: 0;
}

::marker {
  content: "";
}

li {
  list-style-type: none;
}